* {
    outline: 2px solid red;
} 

#container {
    width: 425px;
    height: 550px;
    margin: auto;
}

#display {
    height: 100px;
    font-size: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}

button {
    height: 75px;
    width: 100px;
}